h4{
    font-weight: 600;
}
p{
    font-size: 12px;
    margin-top: 5px;
}
.price{
    font-size: 30px;
    margin: 0 auto;
    color: #333;
}
.right{
    float:right;
    border-bottom: 2px solid #4B8E4B;
}
.thumbnail{
    opacity:0.70;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}
.line{
    margin-bottom: 5px;
}
@media screen and (max-width: 770px) {
    .right{
        float:left;
        width: 100%;
    }
}


.navbar-default {
    background-color: #0f2453;
    border-color: #0f2453;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffce14;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffce14;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #0f2453;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffce14;
    background-color: #0f2453;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #0f2453;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffce14;
    background-color: #0f2453;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffce14;
    background-color: #0f2453;
}
.navbar-default .navbar-toggle {
    border-color: #0f2453;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0f2453;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffce14;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffce14;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffce14;
        background-color: #0f2453;
    }
}


