<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>ControlAdmin.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrosA</servlet-name>
        <servlet-class>ControlAdmin.LibrosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrosC</servlet-name>
        <servlet-class>ControlCliente.LibrosC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosC</servlet-name>
        <servlet-class>ControlCliente.UsuariosC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModlibrosA</servlet-name>
        <servlet-class>ControlCliente.ModlibrosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaLibrosA</servlet-name>
        <servlet-class>ControlCliente.AltaLibrosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaLibrosA</servlet-name>
        <servlet-class>ControlCliente.BajaLibrosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logon</servlet-name>
        <servlet-class>ControlAdmin.Logon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrosA</servlet-name>
        <url-pattern>/LibrosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrosC</servlet-name>
        <url-pattern>/LibrosC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosC</servlet-name>
        <url-pattern>/UsuariosC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModlibrosA</servlet-name>
        <url-pattern>/ModlibrosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaLibrosA</servlet-name>
        <url-pattern>/AltaLibrosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaLibrosA</servlet-name>
        <url-pattern>/BajaLibrosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logon</servlet-name>
        <url-pattern>/Logon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Catalogo.jsp</welcome-file>
    </welcome-file-list>
</web-app>
